:root {
  --bg: #fff;
  color-scheme: light dark;
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
  }
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'DSEG7';
  src: url('./assets/fonts/DSEG7Classic-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Slackey';
  src: url('./assets/fonts/Slackey-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Chilanka';
  src: url('./assets/fonts/Chilanka-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  min-height: 100svh;
  background: linear-gradient(to bottom, hsl(206, 100%, 43%), hsl(171 28% 32%));
}

main {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    display: block;
    width: min(800px, 100%, calc(100dvh * 4 / 3));
    height: auto;
    aspect-ratio: 4 / 3;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
  }

  .score {
    font-size: 24px;
  }
}
